version: "3.3"

services:
  backend:
    build: ./backend
    container_name: chat-backend
    command: node server.js
    ports:
      - "3000:3000"
    restart: always

  frontend:
    build: ./frontend
    container_name: chat-frontend
    ports:
      - "8080:80"
    restart: always
